body {
    font-family: Georgia;
}

header,
footer {
    background-color: indigo;
    color: white;
    text-align: center;
    padding: 7px;
}

.lewy {
    background-color: #d7ccc8;
    width: 35%;
    height: 550px;
    float: left;
}

.prawy {
    background-color: #d7ccc8;
    width: 65%;
    height: 550px;
    float: left;
}

li,
a {
    color: indigo;
}

img {
    height: 240px;
    margin: 6px;
    border-radius: 20px;
}

img:hover {
    box-shadow: 0 0 10px 2px indigo;
}

footer {
    clear: both;
}

.blok-ciasteczek {
    background-color: #A1887F;
    color: white;
    padding: 10px;
    text-align: right;
}